body{
    margin:0;
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.forgot-card{
    background:white;
    width:400px;
    padding:40px;
    border-radius:15px;
}

input{
    width:100%;
    padding:14px;
    margin:20px 0;
}

button{
    width:100%;
    padding:14px;
    background:#1a73e8;
    color:white;
    border:none;
}